{{#has tag="#en" visibility="internal"}}
  <span>{{reading_time minute="1 min read" minutes="% min read"}}</span>
{{else has tag="#fr" visibility="internal"}}
  <span>{{reading_time minute="1 min de lecture" minutes="% min de lecture"}}</span>
{{/has}}